body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

#text-area {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

#job-description {
    width: 500px;
    height: 325px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#output_area{
    width: 500px;
    height: 450px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#old_area {
    width: 500px;
    height: 200px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#new_area {
    width: 500px;
    height: 200px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

#file_upload {
    border: dotted;
    width: 500px;
    height: 75px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2) !important;

}

#file-name {
    width: 500px;
}

#boost {
    padding-top: 150px;
    text-align: center;
}

#boost_score .rc-slider-track {
    background-color: red;
}
